#album-background {
    background-color: #aaaaaa;
    height: 100%;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

#album {
    position: relative;
    background-color: #bbbbbb;
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0 0 50px #00000020;
    perspective: 3000px;
}

#page-container {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    perspective: inherit;
    pointer-events: none;
}

.page {
    position: absolute;
    backface-visibility: hidden;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #00000035;
    height: 100%;
    width: 50%;
    padding: 1rem;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.4, 1);
    z-index: 2;
}

.left-side {
    left: 0;
    transform: rotateY(180deg);
    transform-origin: 100% 50%;
    background-image: linear-gradient(-90deg, #00000020 0%, #00000000 10%);
}

.right-side {
    left: 50%;
    transform: rotateY(0deg);
    transform-origin: 0% 50%;
    background-image: linear-gradient(90deg, #00000020 0%, #00000000 10%);
}

.left-flipped {
    transform: rotateY(0deg);
}

.right-flipped {
    transform: rotateY(-180deg);
}

.covered {
    z-index: 1;
}

.page-number {
    position: absolute;
    bottom: 1rem;
    left: 50%;
}

.left-page-turn-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 6%;
    height: 100%;
}

.right-page-turn-area {
    position: absolute;
    left: 94%;
    top: 0;
    width: 6%;
    height: 100%;
}

.left-page-turn-area:hover {
    background-image: linear-gradient(90deg, #00000010 40%, #00000000 80%);
    border-radius: 0.5rem;
    cursor: pointer;
}

.right-page-turn-area:hover {
    background-image: linear-gradient(-90deg, #00000010 40%, #00000000 80%);
    border-radius: 0.5rem;
    cursor: pointer;
}

#bottom-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 10;

    /* Centered horizontally */
    left: 50%;
    transform: translateX(-50%);

    background-color: #31a4d2;
    height: 1.5rem;
    width: 14rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.75rem;
}