#left-navigation {
    display: flex;
    flex-direction: column;
    position: fixed;

    background-color: #31a4d2;
    height: 70%;
    /* Narrow by default */
    width: 2rem;
    padding: 1rem;
    padding-left: 0rem;
    /* Centered vertically */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

/* Expand on hover */
#left-navigation:hover {
    width: 10rem;
    padding-left: 1rem;
    padding-right: 2rem;
    transition: width 0.2s ease;
    transition: padding-left 0.1s ease;
}

#left-navigation a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease;
}

#left-navigation a:hover {
    cursor: pointer;
    color: #91a4d2;
}